*{
    margin-left: 0;
    margin-right: 0;
    font-family: Raleway;
    color: #333333;
    
}
.wrapper {
    text-align: center;
    /* background-color: #fff;
    position: relative;
    z-index: 1000;
    -webkit-transition: left .33s cubic-bezier(0.694,0.0482,0.335,1);
    -moz-transition: left .33s cubic-bezier(0.694,0.0482,0.335,1);
    -o-transition: left .33s cubic-bezier(0.694,0.0482,0.335,1);
    -ms-transition: left .33s cubic-bezier(0.694,0.0482,0.335,1);
    transition: left .33s cubic-bezier(0.694,0.0482,0.335,1);
    left: 0; */
    width: 100%;
    height: 100%;
    margin: 0;

}

.wrapper_inner {
  margin-top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333;
   
}
/* HEADER / NAV BAR STYLING */
header {
    top: 0!important;
    margin-top: 0!important;
    display: block;
}

/* Center the header_inner container */
.header_inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_inner h3{
  color: #fff;
}

/* Add spacing between the logo and title */
.header_logo,
.header_title {
  margin-right: 20px; /* Adjust as needed */
}



.content {
    margin: 0;
    position: relative;
    z-index: 100;
    background-color: #fff;
}
.context_inner{
    margin: 0;
}

.q_slider {
    background-image: url("./public/images/creek1.jpeg");
    background-size: cover; 
    background-position: center center;
    width: 100%;
    height: 65vh;
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Center vertically */
    justify-content: center;
    
    
}
.navlogo{
  max-height: 50px;
  max-width: 50px;
}
.logo{
  max-height: 250px;
  max-width: 250px;
}

.landing_text {
  padding: 0;
    text-align: center; /* Center text within .landing_text */
    
}
.landingwords{
  color: #fff;
}


  
  /* Additional styles for your text elements */
  .landing_text h3 {
    font-size: 24px;
    /* Add other styles as needed */
  }
  
  .landing_text h1 {
    font-size: 48px;
    /* Add other styles as needed */
  }
  
  .landing_text button {
    /* Add styles for the button */
  }

  .second_landing{
    background-color: #ffff!important;
  }
  .second_inner{
    padding: 2rem;
    line-height: 1.5;
    max-width: 50%;
    margin: auto;
    
  }

  .sellingpoints{
    padding: 2.5rem;
    line-height: 1.5;
  }
  .point{
    padding-top: 18px;
  }

  .callToAction{
    background-color: #e0e0e0;
    border: 1px solid #ffff;
    height: 25vh;
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Center vertically */
    justify-content: center;
  }


/* SECTION 3 STYLING */
/* Default styles for the section */
.section3 {
  background-color: #f7f7f7;
  padding: 20px;
}

.inner_section3 {
  max-width: 1200px;
  margin: 0 auto;
}

.sellingpoints {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row on smaller screens */
  justify-content: space-between; /* Space evenly between columns */
}

.point {
  flex: 1; /* Equal width for all columns */
  padding: 20px;
  margin: 10px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.point:hover{
  transform: scale(1.1); /* Scale the element slightly on hover */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.hoverEffect:hover{
  transform: scale(1.1); /* Scale the element slightly on hover */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* Media query for screens smaller than 768px (mobile) */
@media (max-width: 768px) {
  .sellingpoints {
    flex-direction: column; /* Stack columns vertically */
  }

  .point {
    flex: 0; /* Reset flex value for stacked columns */
    margin: 10px 0; /* Add vertical spacing between stacked columns */
  }
}


/* SECTION 4: SERVICES */
/* Default styles for the section */
.content4 {
  background-color: #ffffff;
  padding: 20px;
}

.inner-content4 {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row on smaller screens */
  justify-content: center; /* Center columns horizontally */
}

.services {
  flex: 0 0 calc(33.33% - 20px); /* Equal width for 3 columns with spacing between */
  padding: 20px;
  margin: 10px;
  text-align: center;
  background-color: #f7f7f7;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.servicesLogo{
  max-width: 50px;
  max-height: 50px;
}

/* Media query for screens smaller than 768px (mobile) */
@media (max-width: 768px) {
  .services {
    flex-basis: calc(100% - 20px); /* Full width for stacked columns on mobile */
    margin: 10px 0; /* Add vertical spacing between stacked columns */
  }
}

/* card flip styles */
/* Flip card styles */
.flip-card {
  perspective: 1000px;
  
  padding: 20px;
  

}

.flip-card-inner {
  width: 100%;
  height: 100%;
  
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

/* Style for the front face (visible by default) */
.flip-card-front {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Style for the back face (hidden by default) */
.flip-card-back {
  background-color: #f7f7f7;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Style for the flip card title (you can adjust this as needed) */
.flip-card h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Style for the flip card content (you can adjust this as needed) */
.flip-card p {
  font-size: 14px;
  padding: 10px;
}

.flip-card-front img {
  margin-bottom: 10px; /* Adjust as needed to align the image */
}

.flip-card-front h4 {
  margin: 0; /* Reset margin to control text alignment */
}

/* Adjust the vertical alignment of text within the back face */
.flip-card-back p {
  margin-top: 10px; /* Adjust as needed to align the text */
}




/* section 5 */
.inner-section5{
  background-image: url("./public/images/headinglayout.avif");
  background-size: cover; 
  background-position: bottom center;
  width: 100%;
  height: 25vh;
  display: flex; /* Use flexbox for centering */
  align-items: center; /* Center vertically */
  justify-content: center;
}




/* footer styles  */
/* Default styles for the section */
.footer {
  background-color: #333;
  
  padding: 20px;
}

.inner-footer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  
}

.footersection {
  flex: 1; /* Equal width for three columns */
  margin: 0 10px; /* Add horizontal spacing between columns */
  text-align: center;
}
.footersection h3{
  color: #ffff!important;

}

/* Media query for screens smaller than 768px (mobile) */
@media (max-width: 768px) {
  .inner-footer {
    flex-direction: column; /* Stack columns vertically on mobile */
  }

  .footersection {
    flex: 0; /* Reset flex value for stacked columns */
    margin: 10px 0; /* Add vertical spacing between stacked columns */
  }
}
