*{
    margin-left: 0;
    margin-right: 0;
}
.wrapper {
    text-align: center;
    /* background-color: #fff;
    position: relative;
    z-index: 1000;
    -webkit-transition: left .33s cubic-bezier(0.694,0.0482,0.335,1);
    -moz-transition: left .33s cubic-bezier(0.694,0.0482,0.335,1);
    -o-transition: left .33s cubic-bezier(0.694,0.0482,0.335,1);
    -ms-transition: left .33s cubic-bezier(0.694,0.0482,0.335,1);
    transition: left .33s cubic-bezier(0.694,0.0482,0.335,1);
    left: 0; */
    width: 100%;
    height: 100%;
    margin: 0;
}

/* .wrapper_inner {
    width: 100%;
    overflow: hidden;
} */

header {
    top: 0!important;
    margin-top: 0!important;
    display: block;
}

.content {
    margin: 0;
    position: relative;
    z-index: 100;
    background-color: #fff;
}
.context_inner{
    margin: 0;
}

.q_slider {
    background-image: url("./public/images/headinglayout.avif");
    background-size: cover; 
    background-position: center center;
    width: 100%;
    height: 50vh;
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Center vertically */
    justify-content: center;
    
}

.landing_text {
    text-align: center; /* Center text within .landing_text */
  }
  
  /* Additional styles for your text elements */
  .landing_text h3 {
    font-size: 24px;
    /* Add other styles as needed */
  }
  
  .landing_text h1 {
    font-size: 48px;
    /* Add other styles as needed */
  }
  
  .landing_text button {
    /* Add styles for the button */
  }

  .second_inner{
    padding: 2rem;
    line-height: 1.5;
  }

  .sellingpoints{
    padding: 2.5rem;
    line-height: 1.5;
  }
  .point{
    padding-top: 18px;
  }

  .callToAction{
    background-color: #e0e0e0;
    border: 1px solid #ffff;
  }
